@{
    ViewData["Title"] = "Admin erstellen";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@model Benutzer

<div class="text-center container mb-5" style="margin-top: 8%;">
    <div class="row justify-content-around">
        <div style="border-radius: 15px;" class="shadow p-5 bg-white text-left col-5">
            <a asp-controller="Home" asp-action="Index" class=""><i class="bi bi-arrow-left-circle" style="font-size: 25px;"></i></a><br />
            <strong style="font-size: 25px;">Admin erstellen</strong>
            <br />
            <br />
            <form method="post">

                <div class="form-row">
                    <div class="form-group col">
                        <input type="text" placeholder="Vorname" asp-for="vorname" class="form-control" />
                    </div>
                    <div class="form-group col">
                        <input type="text" placeholder="Nachname" asp-for="nachname" class="form-control" />
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col">
                        <input type="text" placeholder="Benutzername" asp-for="benutzername" class="form-control" />
                    </div>
                    <div class="form-group col">
                        <input type="password" placeholder="Passwort" asp-for="passwort" class="form-control" />
                    </div>
                </div>

                <input type="hidden" value="1" asp-for="admin" class="form-control" />

                @if (ViewBag.CreateAdminError != null)
                {
                    <div class="alert alert-danger" role="alert">
                        @ViewBag.CreateAdminError
                    </div>
                }

                @if (ViewBag.CreateAdminMessage != null)
                {
                    <div class="alert alert-info" role="alert">
                        @ViewBag.CreateAdminMessage
                    </div>
                }

                <div class="form-group">
                    <input type="submit" value="Admin erstellen" name="CreateAdmin" class="form-control btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>