@{
    ViewData["Title"] = "Admin erstellen";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@{
    ViewData["Title"] = "Admins verwalten";
}

@model IEnumerable<Benutzer>

<div class="text-left">
    <a asp-controller="Home" asp-action="Index" class=""><i class="bi bi-arrow-left-circle" style="font-size: 25px;"></i></a><br />
    <h1 class="display-4">Zugang verweigert!</h1>
    
</div>