@{
    ViewData["Title"] = "Registrieren";
    Layout = "~/Views/Shared/_LayoutRegisterAndLogin.cshtml";
}

@model registerHelper

<div class="text-center container mt-5 mb-5">
    <div class="row justify-content-around">
        <div style="border-radius: 15px;" class="shadow p-5 bg-white text-left">
            <strong style="font-size: 25px;">Registrieren</strong>
            <br />
            <br />
            <form method="post">
                <div class="form-row">
                    <div class="form-group col">
                        <input type="text" placeholder="Vorname" asp-for="benutzer.vorname" class="form-control" />
                    </div>
                    <div class="form-group col">
                        <input type="text" placeholder="Nachname" asp-for="benutzer.nachname" class="form-control" />
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col">
                        <input type="text" placeholder="Benutzername" asp-for="benutzer.benutzername" class="form-control" />
                    </div>
                    <div class="form-group col">
                        <input type="password" placeholder="Passwort" asp-for="benutzer.passwort" class="form-control" />
                    </div>
                </div>
                @foreach (var register in Model.benutzer.gewaehlteQualifikation)
                {
            <div class="form-check form-check-inline">
                @Html.HiddenFor(Qualifikation => register.id)
                @Html.CheckBoxFor(Qualifikation => register.isChecked)
                @Html.DisplayFor(Qualifikation => register.name)
                
            </div>
                }
                <br />
                <br />
                <div class="form-group">
                    <select class="custom-select" id="mannschaft" asp-for="mannschaft">
                        <option selected disabled>Mannschaft</option>
                        @foreach (var register in Model.mannschaft)
                        {
                            <option>@register.name</option>
                        }
                    </select>
                </div>
                <div class="form-group">
                    <input type="submit" value="Registrieren" name="Register" class="form-control btn btn-primary" />
                </div>
                <div>
                    Du hast bereits ein Konto? <a asp-controller="Account" asp-action="Anmelden">Melde dich an!</a>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    window.onload = toggleSelect();

    function toggleSelect()
    {
        var isChecked = document.getElementById(3).checked;
        document.getElementById("mannschaft").disabled = !isChecked;
    }
</script>